.primaryBtn {
  background-color: var(--primaryColor);
  height: 40px;
  padding: 16px auto;
  color: var(--white);
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
}

.primaryBtn:hover {
  background-color: var(--white);
  height: 40px;
  padding: 16px auto;
  color: var(--primaryColor);
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  border: var(--primaryColorBorder);
}


.secondaryBtn {
  background-color: var(--grey);
  border: var(--secondaryColorBorder );
  height: 40px;
  padding-left: 36px;
  padding-right: 36px;
  color: var(--defaultTextColor);
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
}


.secondaryBtn:hover {
  background-color: var(--primaryColor);
  border: var(--primaryColorBorder);
  height: 40px;
  padding-left: 36px;
  padding-right: 36px;
  color: var(--white);
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
}

.secondaryBtn:focus {
  background-color: var(--primaryColor);
  border: var(--primaryColorBorder);
  height: 40px;
  padding-left: 36px;
  padding-right: 36px;
  color: var(--white);
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
}