.filterBox{

}

div.filterBox select{
    background-color:transparent !important;
    color: var(--black);
    font-size: 16px;
    line-height: 22px;
    padding-right: 2px;
    font-weight: bold;
    border-radius: 10px;
    outline:none !important;
}

div.filterBox select:after {
    content: url('../assets/Icons/angle-down.svg');
  }