

div.filterBox select{
    background-color:transparent !important;
    color: var(--black);
    font-size: 16px;
    line-height: 22px;
    padding-right: 2px;
    font-weight: bold;
    border-radius: 10px;
    outline:none !important;
}

div.filterBox select:after {
    content: url('../assets/Icons/angle-down.svg');
}

  /* For extremely small screen devices (595px and below) */
  @media only screen and (max-width: 595px) {
  
    div.filterBox select{
       margin-top: 10px;
       margin-bottom: 10px;
    }
    
}