@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontFamily: "Open Sans", sans-serif;
  --primaryColor: #E6356F; 
  --primaryColorBorder: 1px Solid #E6356F;
  --secondaryColorBorder : 1px Solid #C7C7CD;
  --defaultTextColor: #333333;
  --black: #333333;
  --grey: #EFFFFF;
  --white: #FFFFFF;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


